<article class="text--justified m-2">
    <header><h2 class="text-xl m-4">Drives</h2></header>
    <a [routerLink]="['/disks', 'add']" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">Add drive</a>
    <table *ngIf="disks">
      <thead>
        <tr>
          <th>Name</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disk of disks.disks" class="p-2">
          <td>{{disk.name}}</td>
          <td>
            <a [routerLink]="['/disks', disk.uuid]" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">View</a>
          </td>
          <td>
            <a [routerLink]="['/disks', disk.uuid, 'edit']" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">Edit</a>
          </td>
          <td>
            <button (click)="onDelete(disk)" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  