<article *ngIf="disk">
  <header>
    <h1>{{ disk.name }}</h1>
  </header>
  <a [routerLink]="['/disks', disk.uuid, 'add']">Add application</a>
  
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            Size
          </div>
          <div class="col-6">
            {{ disk.size }}
          </div>
        </div>
      </div>
    </div>

    <table *ngIf="disksApplications">
        <thead>
          <tr>
            <th>Application</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let application of disksApplications.applications">
            <td>{{ application.name }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteApplicationFromDisk(application)">Delete</button>
            </td>
            <td>
              <a [routerLink]="['/disks', disk.uuid, 'applications', application.uuid, 'edit']">Edit</a>
            </td>
            <td>
              <a [routerLink]="['/disks', disk.uuid, 'applications', application.uuid]">View</a>
          </tr>
    </table>
  </div>
</article>
  