<article *ngIf="disk">
  <header>
    <h1 class="font-semibold text-xl">{{ disk.name }}</h1>
  </header>
  <a [routerLink]="['/disks', disk.uuid, 'add']" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">Add application</a>
  
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            Size
          </div>
          <div class="col-6">
            {{ disk.size }}
          </div>
        </div>
      </div>
    </div>

    <table *ngIf="disksApplications">
        <thead>
          <tr>
            <th>Application</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let application of disksApplications.applications" class="p-2">
            <td>{{ application.name }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteApplicationFromDisk(application)" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">Delete</button>
            </td>
            <td>
              <a [routerLink]="['/disks', disk.uuid, 'applications', application.uuid, 'edit']" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">Edit</a>
            </td>
            <td>
              <a [routerLink]="['/disks', disk.uuid, 'applications', application.uuid]" class="rounded-sm p-1 text-slate-600 bg-slate-200 hover:text-white hover:bg-slate-600">View</a>
          </tr>
    </table>
  </div>
</article>
  